@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.h1_box {
    background-color: #0279b1;
    padding: 1.5rem;
    margin-bottom: 0.8rem;

    h1 {
        color: white;
    }
}

h2, h3 {
    color: #0279b1;
}

h3 {
    border-bottom: 3px solid #5DA61A;
}

h4 {
    color: #5DA61A;
    text-decoration: underline ;
    margin-bottom: 0;
}

.flex,
.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.flex > *,
.flex2 > *  {
    flex: 1;                 
    min-width: 200px;        
}

.neighbourhood_box,
.construction_box,
.user_box,
.fav_box {
    margin-top: 1rem;
    padding: 15px;
    border: 1px solid #5DA61A;
    display: flex;
    flex-direction: column;
}

.neighbourhood_box select,
.construction_box select {
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.neighbourhood_box li {
    padding-bottom: 15px;
}

.button {
    display: inline-block;
    text-align: center;
}

.user_form,
.fav_form {
    display: flex;
    flex-direction: column;   
    gap: 1rem;                
    max-width: 400px;         
    margin: 0;                  
}

.user_form label,
.fav_form label {
    display: flex;
    flex-direction: column;  
    font-size: .8rem;
}

.user_form input,
.fav_form input {
    padding: 0.2rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.user_form button,
.fav_form button {
    width: fit-content;       
    padding: 0.5rem 1.5rem;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user_form button:hover,
.fav_form button:hover {
    background-color: #45a049;
}

